.nav {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
}

.cart {
  padding: 5%;
}

.cart-count {
  position: relative;
  top: -20px;
  right: -5px;
  font-weight: 700;
}
